@charset "utf-8";

:root {
  --size-img-profile: 90px;
  --size-border-radius: 36%;
}

#card-profile {
  width: 75%;
  height: 500px;
  margin: 50px auto 0 auto;
  background-color: var(--bg-color-one);
  border-top-left-radius: var(--size-border-radius);
  border-bottom-right-radius: var(--size-border-radius);
  border: 4px solid white;
  box-shadow: -3px -3px 1px 2px var(--br-color-one);
  color: white;
  overflow: hidden;
}

#img-profile {
  margin: auto;
  padding: 25px 0;
  
  img {
    display: block;
    margin: auto;
    width: var(--size-img-profile);
    height: var(--size-img-profile);
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--br-color-one);
  }
}

.name-infos {
  text-align: center;
}

ul {
  list-style-type: none;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 15px 25px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.ico {
  color: var(--br-color-one);
}

.technologys {
  display: flex;
  width: 100%;
  gap: 10px;
  padding-bottom: 10px;
  margin-left: 30px;

  span {
    background-color: var(--br-color-one);
    color: var(--bg-color-two);
    font-size: 15px;
    text-align: center;
    width: min-content;
    padding: 0 10px;
    gap: 5px;
    border-radius: 10px;
  }
}

.download-cv {
  display: flex;
  width: 55%;
  height: 45px;
  margin-left: 18%;
  margin-top: 15px;
  border-radius: 22px;
  color: var(--bg-color-two);
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
}