@charset "utf-8";

header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 50px;
  color: white;
  background-color: var(--bg-color-one);

  nav {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    border-bottom: 1px solid gray;
  }
}

.tag {
  color: var(--br-color-one);
  font-weight: bolder;
}

.home-seach {
  display: flex;
  gap: 15px;
  align-items: center;
}

.link-header {
  text-decoration: none;
  font-size: 18px;
  color: var(--br-color-one);
}