@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bg-color-one: #292f36;
  --bg-color-two: #1a1e23;
  --br-color-one: #12f7d6;
  --br-color-two: #98faec;
  --bg-color-gray: #43454d;
  --bg-color-html: #e54f26;
  --bg-color-css: #0c73b8;
  --bg-color-js: #e7a020;
  --bg-color-react: #28a9e0;
  --font-ibm: 'IBM Plex Mono'
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-ibm);
}

body {
  width: 100vw;
  height: 100%;
  background-color: var(--bg-color-one);
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-one);
}

header {
  background-color:  var(--bg-color-html);
}

#card-profile {
  background-color: var(--bg-color-css);
}